



<%= form_with(model: @intervention, local: true, url: interventions_path) do |form| %>    
    
  


    <!-- wrapper -->
    <div id="wrapper">


        <hr class="m-0" /><!-- 1px line separator -->



        <!-- CONTACT -->
        <section id="contact">
            <div class="container">

                <header class="text-center mb-60-1">
                    <h2>INTERVENTION FORM</h2>
                    <p class="lead font-lato">Enter details about your intervention</p>
                    <hr />
                </header>


                <div class="row">

                    <!-- FORM -->
                    <div class="col-md-8 col-sm-8">

                        <h3>Intervention details </h3>                      
                            <fieldset>
                                <input type="hidden" name="action" value="contact_send" />

                            
                        <%# Employee drop down menu %>
                        <div class="row" style="margin-left: 1px">
                                <div class="col-md-4">
                                        <%= form.label :employee %>
                                        <%= form.select :employee, options_from_collection_for_select(Employee.all, "id", "first_name",  "last_name"), include_blank: "-None-" %>
                                </div>
                        </div>


                        <%# Customers drop down menu  %>  
                        <div class="row" style="margin-left: 1px">
                            <div class="col-md-4">
                                    <%= form.label :customer %>
                                    
                                    <%= form.select(:customer, Customer.all.collect {|p| [p.company_name, p.id]}.sort_by(&:first), {prompt: "-Select Customer-"}, {class: 'form-control'}) %>
                                    
                            </div>
                        </div>
                            
                        <%# Buildings drop down menu  %>        
                        <div class="building-class">
                            <div class="col-md-4">
                                    <%= form.label :building %>
                                    
                                    <%= form.select(:building, Building.all.collect {|t| [t.id, t.customer_id ]}, {prompt: "id"},  {class: 'form-control'}) %>
                            </div>
                        </div>

                        <%# Batteries drop down menu  %>        
                        <div class="battery-class">
                            <div class="col-md-4">
                                    <%= form.label :battery %>
                                    
                                    <%= form.select(:battery, Battery.all.collect {|b| [b.id, b.building_id ]}, {prompt: "id"}, {class: 'form-control'}) %>
                            </div>
                        </div>
                            
                        <%# Columns drop down menu  %>        
                        <div class="column-class">
                            <div class="col-md-4">
                                    <%= form.label :column %>
                                    
                                    <%= form.select(:column, Column.all.collect {|c| [c.id, c.battery_id ]}, {prompt: "id"}, {class: 'form-control'}) %>
                            </div>
                        </div>

                        <%# Elevators drop down menu  %>        
                        <div class="elevator-class">
                            <div class="col-md-4">
                                    <%= form.label :elevator %>
                                    
                                    <%= form.select(:elevator, Elevator.all.collect {|e| [e.id, e.column_id ]}, {prompt: "id"}, {class: 'form-control'}) %>
                            </div>
                        </div>

                

                        <%# Description field to submit intervention %>
                        <div class="col-md-12">
                                <%= form.label :Report %>
                                <%= form.text_area :report, class: 'form-control', rows: '6' %>
                        </div>
                    </div>
                                    
                                
                </fieldset>


            </div>
                    <!-- /FORM -->

                    <!-- INFO -->
                    <div class="col-md-4 col-sm-4">

                            <!-- SUBMIT BUTTON -->
                            <div class="toggle-transparent toggle-bordered-full clearfix">
                                <div class="toggle active">
                                    
                            
                                        <hr>
                                    <div class="actions"> 
                                    <%= form.submit class: 'btn btn-primary btn-lg btn-block fs-15', value: 'Submit', :onclick => "alert('Information about your intervention has been sent to the Rocket Elevators servers !')"%>
                                    
                                    </div>
                                </div>
                            </div>

                            <!-- /SUBMIT BUTTON  -->
                                    


                                

                    </div>


                            </div>
                        </div>
                        <!-- /CREATE ACCOUNT -->

                    
                    <!-- /CHECKOUT -->
                    
                </div>
                    <!-- /INFO -->
                    
                </div>

            </div>
        </section>
        <!-- /CONTACT -->




        
    </div>
    <%=javascript_include_tag "intervention" %>
    <!-- /wrapper -->


    

    <% end %>


   