<h1 class="text-center" >Customers geolocalisation</h1>

<div style='width: 800px;'>  
  <div id="map" style='width: 1200px; height: 800px;'></div>  
</div>  

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>&callback=initMap" async defer>

        
         
  <script src="https://rawgit.com/kswedberg/jquery-smooth-scroll/master/jquery.smooth-scroll.js"></script>

          
<script>
          
     function initMap() {
         center_psn = {lat:  45.459467, lng: -71.254028};
         map = new google.maps.Map(document.getElementById('map'), {
        zoom : 2,
         center: center_psn,
        })
       
        <% @points_list.each_with_index do |lp| %>
            lat = <%= lp[:lat] %>
            long = <%= lp[:long] %>
            myLatLng = {lat: lat, lng: long}
            marker = new google.maps.Marker({
                    position: myLatLng,
                    
                    map: map,
            })
            contentString = '<div id="content">'+
            '<div id="siteNotice">'+
            '</div>'+
            '<h1 id="firstHeading" class="firstHeading"> <%= lp[:name] %></h1>'+
            '<div id="bodyContent">'+
            '<p><b>Address: </b> <%= lp[:address] %></br>' +
            '<b>Number of Floors: </b> <%= lp[:floors] %></br>' +
            '<b>Client Name: </b> <%= lp[:client] %></br>' +
            '<b>Number of Batteries: </b> <%= lp[:battery] %></br>' +
            '<b>Number of Columns:</b> <%= lp[:column] %></br>' +
            '<b>Number of Elevators:</b> <%= lp[:elevator] %></br>' +
            '<b>Technician Name: </b> <%= lp[:technician] %></p>' +
            '</div>'+
            '</div>'

            marker.infowindow = new google.maps.InfoWindow({
            content: contentString

            })

            previous = false
            marker.addListener('click', function() {

                if(previous) {
                    previous.close()
                }
                previous = this.infowindow;
                this.infowindow.open(map, this);
            })
            
        <% end %>
       
       }
</script>